@import "../bower_components/Skeleton-Sass/scss/skeleton";

$font-stack: 'Roboto', Helvetica, sans-serif;
$logo-font-stack: 'Istok Web', sans-serif;
$primary-color: #DDD;
$secondary-color: #37b3e8;

html, body, form {
  font: 100% $font-stack;
	margin: 0;
	padding: 0;
	color: #444;
}

body {
  background-color: $primary-color;
}

a {
	color: #039;
}

a:hover {
	color: #036;
}

p {
	padding-bottom: 1.3em;
}

#header, #footer {
	width: 100%;
	margin: auto;
}

#header {
	font: 36px $logo-font-stack;
	background-color: $secondary-color;
	padding-left: 20px;
	margin-bottom: 30px;
}

#map-container {
	display: flex;
	flex-direction: column;
}
